/*
Unidades de medida CSS
px- Medida fixa
em- medida relativa em relação ao tamanho definido no elemento pai.
rem - medida relativa ao root 1 rem = 16px
40px é 1em para os elementos filhos e descendentes;

o padrão é 16px
Para animação: @keyframes
*/

@keyframes fadeUp {
    from {
        transform: translateY(-200px) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateY(100px) scale(1);
        opacity: 1;
    }
}

.box {
    transform: translateY(100px);
    animation: fadeUp 5s;
    animation-iteration-count: 1;

    width: 50%;
    height: 50vh;
    border: solid 5px red;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /*quando row - justify-content é eixo X, quando columns é eixo y*/
    align-items:center; /* quando row - align items é eixo y, quando column é eixo x */
}
html {
    font-size: 40px;
}

.item {
    width: 90px;
    height: 90px;
    background: #eee;
    margin: 1%;
    font-size: 2rem;
    font-family: 'roboto','lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item:hover {
    transform: translate(200px) scale(2) rotate(360deg);
    border-radius: 50%;
}
.a {
    color: red;
    align-self: flex-start;
}
.b {
    color: forestgreen;
    align-self: flex-end;
}
.c {
    color: blue;
    align-self: flex-start;
}

/* picture */

.picture {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border: solid 1px red;
    overflow: hidden;
    margin-bottom: 10%;
    position: relative;
   
}
.picture:hover figcaption {
    bottom: 0;
}
figure > img {
    width: 100%;
 }
 
.picture > figure > figcaption {
    width: 100%;
    height: 100px;
    background: #333;
    color: white;
    position: absolute;
    bottom: -100px;
    text-align: center;
    transition-duration: 0.5s;
}

.picture>figure {
    height: 300px;
    position: relative;
}

