
body, h1, h2, h4, h5, h6 {
    margin: 0;
    padding: 0;
    outline: 0;
}
* {
    box-sizing: border-box;
}
/*
body > div {
    width: 300px;
    height: 300px;
    margin: 5% auto;
    border: solid 10px red;
}
*/
body {
    background-color: #333;
    color: #e4e4e4;
}

/* Quando a largura mínima for de 768px aplique este CSS */
@media (min-width: 768px) {
     /* especificidade CSS. Quanto mais específico o seletor, mais importante. */
    html body {
        background-color: unset;
        color: initial;
    }

    body {
        background: red;
    }
}